body{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, red, purple); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, hsl(0, 100%, 50%), yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, red, purple); /* For Firefox 3.6 to 15 */
    color:linear-gradient(-90deg, #ff0000,purple);
    font-family: Courier New, Courier, monospace;
}
#container{
    background-color:#fff;
    border-radius:10px;
    color: linear-gradient(-90deg, #ff0000,purple); /* Standard syntax */
    height:500px;
    width:300px;
    padding:50px;
    margin:200px auto;
    text-align:center;
}
header{
    color:rgb(53, 6, 30);
    font-size:24px;
    /* margin-bottom:30px; */
    width:100%;
}
input[type="text"]{
    color:solid rgb(53, 6, 30);
    border:1px solid rgb(53, 6, 30);
    border-radius:5px;
    font-family:Courier New, Courier, monospace;
    font-size:24px;
    margin-bottom: 30px;
    padding:15px;
    width:100%;
}
.row{
    width:100%;
    display:flex;
    flex-direction:row;
    margin-bottom:30px;
}
#buttons{
    padding:10px;
}
#btn-equals{
    height:80px;
    width:50px;
}
.btn{
    background-color:rgb(53, 6, 30);
    border-radius:5px;
    color:#fff;
    font-weight:500;
    margin-right:30px;
    border:0px;
    padding:10px;
}

footer{
    color:#fff;
    font-weight:200;
    text-align:center;
}